@import '../../mixins/main';

.checkboxes-group {
  @media (min-width: 600px) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    & > * {
      width: 45%;

      &:nth-child(2) {
        margin-top: 20px;
      }
    }
  }
}

.genres-checkbox {
  display: block;
  font-size: 15px;
  color: $color-text;
  margin-bottom: 40px;
  margin-left: 20px;

  &:first-of-type {
    margin-top: 20px;
  }
}

.modal-text {
  color: $color-text;
  opacity: .75;
  text-align: center;
  margin: 20px 0 40px 0;
  line-height: 1.5em;
}
