@import '../../mixins/main';

.history-page {
  background-color: $color-background;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    justify-content: center;
  }

  @include full-height;

  .image-container {
    width: 100%;
    padding: 0 40px;
    max-width: 400px;

    img {
      width: 100%;
    }
  }

  .title {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: $color-white;
    margin-top: 30px;
    padding: 0 20px;
  }

  .subtitle {
    font-size: 15px;
    color: $color-white;
    margin-top: 30px;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .content {
    width: 100%;
    max-width: 360px;
  }

}
