@import '../../mixins/main';

.menu {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color .3s ease;

  &:hover {
    background-color: $color-grey-30;
  }

  & > * {
    color: $color-text;
  }
}
