<app-modal modalTitle="Wyszukiwanie filmów" [(open)]="open">
  <form class="search-form" autocomplete="off">
    <div class="modal-text">Wyszukaj filmy po ich nazwie</div>
    <mat-form-field class="full-width">
      <fa-icon [icon]="faSearch"></fa-icon>
      <mat-label>Wyszukiwanie</mat-label>
      <input type="text" matInput [formControl]="searchFormControl">
    </mat-form-field>
    <div class="search-result">
      <app-movies-block [movies]="searchResult"></app-movies-block>
    </div>
  </form>
</app-modal>
