@import '../../mixins/main';

.footer {
  padding: 20px 10px;
  margin: 0 30px;
  background-color: $color-background;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-grey-30;
  margin-bottom: 70px;

  @include tablet {
    justify-content: flex-start;
    margin-bottom: 0;

    .footer-link:not(:last-child) {
      margin-right: 30px;
    }
  }

  .footer-link {
    color: $color-grey-40;
    text-decoration: none;
    transition: color ease .3s;

    &:hover {
      color: $color-white;
    }
  }
}
